.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-header {
    background-color: #282c34;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
}

.Login {
    text-align: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.Register {
    text-align: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

/* new css for media component */
* {
    box-sizing: border-box;
}

.media {
    display: flex;
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    background: #eeeeee;
    margin: 2px;
    border-radius: 8px;
}

.media_infos {
    margin-left: 16px;
    width: 100%;
}

.media_poster {
    border-radius: 4px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 80%;
    background: #ddd;
    margin-bottom: 4px;
    border-radius: 10px;
    text-align: center;
}

.App-header h2 {
    margin: 0;
}

/*.add-movies {
    text-align: center;
}*/

.add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
}

.media {
    padding: 10px 25px 10px 25px;
    max-width: 100%;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.ListToggle {
    border: 2px solid rgba(255, 255, 255, .2);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}
.ListToggle:hover {
    border: 2px solid #fff;
}
.ListToggle:hover div {
    top: -32px;
}
.ListToggle[data-toggled="true"] {
    background: #e50914;
    border: 2px solid #e50914;
}
.ListToggle[data-toggled="true"] div {
    top: -32px;
}
.ListToggle div {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 32px;
    transition: 0.125s ease;
}
.ListToggle div i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
}


input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
}

.search > input[type="text"] {
    width: 40%;
    min-width: 170px;
}

.Search {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.Search input {
    font-family: 'Lato', "Arial Black";
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    background: transparent;
    color: blue;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, .1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border 0.25s ease, width 0.125s ease 0.125s;
}
.Search input:focus {
    border: 2px solid #e50914;
    width: 30%;
}


@media screen and (min-width: 694px) and (max-width: 915px) {
    .media {
        max-width: 100%;
    }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
    .media {
        max-width: 100%;
    }
}

@media screen and (max-width: 651px) {
    .media {
        max-width: 100%;
        margin: auto;
    }
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.btn-toolbar {
  margin: 0 auto;
}

.btn {
  margin: 20px auto;
}

.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }



body {
    color: black;
    background-color: magenta;
    padding: 20px 30px;
    font-family: sans-serif;
}

#user-profile {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000;
    border: 1px solid #000;
}
hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid magenta;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;

}

p {
    font-size: 14px;
}

.top, .bottom {
    padding: 30px;

}


.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
}


