.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}
.spinner {
  height: 80px;
  margin: auto;
}
.App-intro {
  font-size: large;
}
/* new css for media component */
* {
  box-sizing: border-box;
}
.media {
  display: flex;
  flex-wrap: initial;
  flex-direction: row;
  width: 100%;
  background: #eeeeee;
  margin: 2px;
  border-radius: 8px;
}

.media_infos {
  margin-left: 16px;
  width: 100%;
}

.media_poster {
  border-radius: 4px;
}

.container {
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 80%;
  background:#ddd;
  margin-bottom: 4px;
  border-radius: 10px;
}

.App-header h2 {
  margin: 0;
}
.add-movies {
  text-align: center;
}
.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}
.media {
  padding: 10px 25px 10px 25px;
  max-width: 100%;
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}
.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}
@media screen and (min-width: 694px) and (max-width: 915px) {
  .media {
    max-width: 100%;
  }
}
@media screen and (min-width: 652px) and (max-width: 693px) {
  .media {
    max-width: 100%;
  }
}
@media screen and (max-width: 651px) {
  .media {
    max-width: 100%;
    margin: auto;
  }
}