.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-header {
    background-color: #282c34;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 20px;
    cursor: pointer;
}

.spinner {
    height: 80px;
    margin: auto;
}

.App-intro {
    font-size: large;
}

/* new css for media component */
* {
    box-sizing: border-box;
}

.media {
    display: flex;
    flex-wrap: initial;
    flex-direction: row;
    width: 100%;
    background: #eeeeee;
    margin: 2px;
    border-radius: 8px;
}

.media_infos {
    margin-left: 16px;
    width: 100%;
}

.media_poster {
    border-radius: 4px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 80%;
    background: #ddd;
    margin-bottom: 4px;
    border-radius: 10px;
}

.App-header h2 {
    margin: 0;
}

.add-movies {
    text-align: center;
}

.add-movies button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
}

.media {
    padding: 10px 25px 10px 25px;
    max-width: 100%;
}

.errorMessage {
    margin: auto;
    font-weight: bold;
    color: rgb(161, 15, 15);
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.ListToggle {
    border: 2px solid rgba(255, 255, 255, .2);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
}
.ListToggle:hover {
    border: 2px solid #fff;
}
.ListToggle:hover div {
    top: -32px;
}
.ListToggle[data-toggled="true"] {
    background: #e50914;
    border: 2px solid #e50914;
}
.ListToggle[data-toggled="true"] div {
    top: -32px;
}
.ListToggle div {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 32px;
    transition: 0.125s ease;
}
.ListToggle div i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
}


input[type="submit"] {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
}

.search > input[type="text"] {
    width: 40%;
    min-width: 170px;
}

.Search {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.Search input {
    font-family: 'Lato', "Arial Black";
    font-weight: 300;
    font-size: 14px;
    height: 37px;
    width: 20%;
    background: transparent;
    color: blue;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 241, .1);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border 0.25s ease, width 0.125s ease 0.125s;
}
.Search input:focus {
    border: 2px solid #e50914;
    width: 30%;
}


@media screen and (min-width: 694px) and (max-width: 915px) {
    .media {
        max-width: 100%;
    }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
    .media {
        max-width: 100%;
    }
}

@media screen and (max-width: 651px) {
    .media {
        max-width: 100%;
        margin: auto;
    }
}
