@*
* This template takes a single argument, a String containing a name to display.
*@
@(message: String, users: Seq[User])

@*
* Call the `main` template with two arguments. The first argument is a `String` with the
* title of the page, the second argument is an `Html` object containing the body of the
* page.
*@
@main("WaliDB !") {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.

    @own_welcome(message, users)
    *@
    <section id="top">
        <div class="wrapper">
            <h1>WaliDB !</h1>
        </div>
    </section>

    <div id="content" class="wrapper drop">
        <article>
            <p>
                Let's build an amazing web app
            </p>
            <p>@message</p>
            <p>
                I'm so happy..., let us count until 10:
        <ul>
            @for(i <- 1 to 10) {
                <li>@i</li>
            }
        </ul>
            </p>
            <p>
                Best... Framework... <strong>Ever</strong>
            </p>
        </article>

    </div> -->
}
